
.card-title {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    line-height: 2em;
}

ion-card-header {
    display: flex;
    justify-content: space-between;
}

ion-card-title {
    font-size: 12pt;
    color: #223e5c;
}

ion-card-subtitle {
    color: #a6b0bf;
    font-size: 11pt;
    font-weight: 400;
    margin-top: 0 !important;
}
ion-card-content {
    font-size: 11pt;
    font-weight: 400;
    color: rgba(34, 62, 92, 0.8);
}

.ion-badge {
    background: rgba(110, 213, 176, 0.6);
    font-weight: 400;
}